:root{
    --color-dark: #27292a;
    --color-light:#fff;
    --color-primary: #ec6090;
    --color-darkest:#1f2122;

    /* فكره هنا انا نحط الاشياء الرسيه في متفيرات  */
    --color-bg-body: var(--color-darkest);
    --distance-primary :50px;
    --padding-primary:var(--distance-primary);
    --margin-primary:var(--distance-primary);
  

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
body{

    background-color: var(--color-bg-body);
    font-family: 'Poppins', sans-serif;
}


ul {

    list-style-type: none;
}
a{
    text-decoration: none;
}